body,
html {
    min-height: 100dvh;
}

body {
    min-height: 100dvh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background: url('../images/bg-error-page.avif') no-repeat 50% 50% / cover;
    color: #fff;
    font-family: Montserrat, sans-serif;
    padding: 16px;
}

.error {
    font-size: 18px;
    line-height: 1.4;

    &-code {
        font-size: 100px;
        margin: 0 0 18px;
    }

    &-subtitle {
        font-size: 20px;
        line-height: 1.4;
        margin: 0 0 11px;
    }

    &-text {
        margin: 0;
    }

    &-actions {
        margin-top: 44px;
        display: flex;
        align-items: center;
        gap: 12px;
    }

    &-button {
        background: none;
        padding: 0;
        min-width: 144px;
        padding: 0 5px;
        font:
            500 16px/34px Montserrat,
            sans-serif;
        border: 2px solid #fff;
        color: #fff;
        border-radius: 10px;
        cursor: pointer;
        transition:
            color 0.3s linear,
            background-color 0.3s linear,
            border-color 0.3s linear;
        text-align: center;
        text-decoration: none;
        box-sizing: border-box;

        &:hover,
        &:focus {
            color: #000;
            border-color: #000;
            background-color: #fff;
        }
    }
}
